@charset "utf-8";
body{
	background-color: #2c3f81;
}
.page{
	background-color: #2c3f81;
}
.page.preload{
	background-color: #fff;
}

/*p1*/
.starLine{
	top: 30%;
}
.thanks{
	width:70%;
	top: 38%;
	left: 15%;
}
.miaov{
	width: 30%;
	top: 32%;
	right: 20%;
}
.rocket{
	width: 25%;
	top: 34%;
	left: 24%;
}
.with-u{
	width: 60%;
	left: 20%;
	top: 55%;
}

.circle{
	width:8rem;
	height:8rem;
	top: 50%;
	left: 50%;
	margin-left: -4rem;
	margin-top: -4rem;
	background-color: #1e2a58;
	border-radius: 8rem;
	box-shadow:0px 0px 0px 3rem #24356f;
}
/*p2*/
#p2{
	background-color: #5e49c3;
}
.planet{
	left: 0;
	bottom: 0;
}
.light-house{
	width: 20%;
	left: 20%;
	bottom: 16%;
}
.rocket2{
	width: 20%;
	bottom: 12%;
	right: 20%;
}
.human{
	width: 50%;
	left: 25%;
	bottom:16%;
}
.text1{
	width: 80%;
	left: 10%;
	top: 15%;
}
.pirate{
	width: 40%;
	left: 5%;
	top: 40%;
}
.planet2{
	width: 10%;
	top:-3%;
	left: 20%;
}
.planet3{
	width: 8%;
	top: 15%;
	left: 50%;
}
.planet4{
	width: 6%;
	right: 32%;
	top: 66%;
}
.sun{
	width: 15%;
	right: 25%;
	top: 42%;
}
.circle2{
	width: 8rem;
	height: 8rem;
	border-radius:8rem;
	background-color: #483898;
	bottom: 10%;
	left: 50%;
	margin-left: -4rem;
	box-shadow:
	0px 0px 0px 2rem transparent;
}
@-webkit-keyframes circleIn{
	to{
		box-shadow:
		0px 0px 0px 3rem #24356f,
		0px 0px 0px 5rem #283b79,
		0px 0px 0px 7rem #2a3d7e;
	}
}

@-webkit-keyframes circleOut{
	from{
		box-shadow:
		0px 0px 0px 3rem #24356f,
		0px 0px 0px 5rem #283b79,
		0px 0px 0px 7rem #2a3d7e;
	}
	to{
		box-shadow:
		0px 0px 0px 1rem #24356f,
		0px 0px 0px 2rem #283b79,
		0px 0px 0px 3rem #2a3d7e;
	}
}

@-webkit-keyframes rocketIn{
	from{
		opacity: 0;
		-webkit-transform:translate3d(-80%,80%,0);
	}
	to{
		opacity: 1;
		-webkit-transform:translate3d(0%,0%,0);
	}
}
@-webkit-keyframes rocketOut{
	from{
		opacity: 1;
		-webkit-transform:translate3d(0%,0%,0);
	}
	to{
		opacity:0;
		-webkit-transform:translate3d(80%,-80%,0);
	}
}

@-webkit-keyframes scaleOut{
	to{
		opacity: 0;
		-webkit-transform:scale(4,4);
	}
}

@-webkit-keyframes rocket2Out{
	to{
		opacity: 0;
		-webkit-transform:translate3d(50%,-200%,0);
	}
}

@-webkit-keyframes circle2In{
	to{
		box-shadow:
		0px 0px 0px 2rem #5240ad,
		0px 0px 0px 4rem #5744b8,
		0px 0px 0px 6rem #5b47bf;
	}
}

@-webkit-keyframes circle2Out{
	to{
		box-shadow:
		0px 0px 0px 4rem #5240ad,
		0px 0px 0px 6rem #5744b8,
		0px 0px 0px 2rem #5b47bf;
	}
}